<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ task.name }}</mat-card-title>
    <mat-card-subtitle>{{ task.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <h3>Params</h3>
      <hr />
      <div *ngFor="let param of task.params" class="param-list">
        <h5>{{ param.name }}</h5>
        <p>{{ param.description }}</p>
      </div>
    </div>
    <div>
      <h3>Output</h3>
      <hr />
      <div *ngFor="let return of task.return" class="param-list">
        <h5>{{ return.type }}</h5>
        <p>{{ return.description }}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
