<mat-card>
  <mat-card-title>{{ mode == 'create' ? 'New' : 'Edit' }} Pipeline</mat-card-title>
  <mat-card-subtitle>Pipeline to execute on a file</mat-card-subtitle>
  <mat-card-content>
    <div class="top-form">
      <mat-form-field>
        <input matInput placeholder="Unique ID" [(ngModel)]="pipeline.id" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Pipeline name" [(ngModel)]="pipeline.name" />
      </mat-form-field>
      <hr />
    </div>
    <div class="">
      <h4>Starting node</h4>
      <app-form-node [node]="pipeline.node"></app-form-node>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onCreatePipeline()">Create</button>
    <button mat-button (click)="onResetPipeline()">Reset</button>
  </mat-card-actions>
</mat-card>
