<mat-card>
  <mat-card-title>{{ mode == 'create' ? 'New' : 'Edit' }} Pipeline</mat-card-title>
  <mat-card-subtitle>Pipeline to execute on a file</mat-card-subtitle>

  <form [formGroup]="mainFormGroup">
    <mat-card-content>
      <div class="top-form">
        <mat-form-field>
          <input matInput formControlName="id" placeholder="Unique ID" />
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Pipeline name" />
        </mat-form-field>
        <hr />
      </div>
      <div class="variables">
        <h4>Variables</h4>
        <app-form-variables [list]="pipeline.variables" [parentForm]="mainFormGroup"></app-form-variables>
      </div>
      <div class="">
        <h4>Starting node</h4>
        <app-form-node [node]="pipeline.node" [parentFormGroup]="mainFormGroup"></app-form-node>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [disabled]="!formValid" (click)="onCreatePipeline()">Create</button>
      <button mat-button (click)="onResetPipeline()">Reset</button>
    </mat-card-actions>
  </form>
</mat-card>
