<div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Active Pipeline </mat-panel-title>
      <mat-panel-description> Here lie the pipeline waiting to be executed </mat-panel-description>
    </mat-expansion-panel-header>

    <app-table-active-pipeline></app-table-active-pipeline>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Register Pipeline </mat-panel-title>
      <mat-panel-description> Here lie the pipeline waiting to be executed </mat-panel-description>
    </mat-expansion-panel-header>

    <app-table-register-pipeline></app-table-register-pipeline>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Created Pipeline </mat-panel-title>
      <mat-panel-description> Here lie the pipeline waiting to be executed </mat-panel-description>
    </mat-expansion-panel-header>

    <app-table-pipeline></app-table-pipeline>
  </mat-expansion-panel>
</div>
