<div class="app-container">
  <mat-sidenav-container fullscreen class="exemple-container" *ngIf="isConfigure">
    <mat-sidenav class="nav-container" #sidenav mode="side" [(opened)]="opened" (opened)="sideNav.onOpen()">
      <div class="nav-main">
        <app-side-nav (zoneChange)="onZoneChange($event)"></app-side-nav>
      </div>
      <div class="nav-footer">
        <app-ws-status></app-ws-status>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar>
        <p>
          <mat-icon (click)="opened = !opened">menu</mat-icon>
        </p>

        <div *ngIf="activeSection" class="left-side">
          <div>
            <app-chip-list-nav [items]="activeSection.zone"></app-chip-list-nav>
          </div>
        </div>
      </mat-toolbar>
      <div class="app-body">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <app-login-backend *ngIf="!isConfigure"></app-login-backend>
</div>
