<mat-toolbar>
  <div class="container-center">
    <mat-chip-list style="padding-right: 20px;">
      <mat-chip (click)="arrowLeft()">
        <mat-icon>arrow_left</mat-icon>
      </mat-chip>
      <mat-chip (click)="arrowRight()">
        <mat-icon>arrow_right</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <div class="container-center">
      <mat-form-field>
        <mat-label>Browsing</mat-label>
        <mat-select [(ngModel)]="browsing">
          <mat-option *ngFor="let b of browsings" [value]="b">{{b}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-chip>
        <mat-icon (click)="browsing = null">delete</mat-icon>
      </mat-chip>
    </div>
    <div class="container-center">
      <mat-form-field>
        <input matInput type="text" placeholder="Query" [(ngModel)]="query" />
      </mat-form-field>
      <mat-chip>
        <mat-icon (click)="query = null">delete</mat-icon>
      </mat-chip>
    </div>
  </div>
</mat-toolbar>
<mat-accordion>
  <mat-expansion-panel *ngFor="let e of entitysName; index as i" (opened)="getContent(i)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{e}}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="entitys[i]">
      <app-record-table [records]="entitys[i].records"></app-record-table>
    </div>
  </mat-expansion-panel>
</mat-accordion>
